<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>schnappit</string>
	<key>CFBundleIdentifier</key>
	<string>com.owenrumney.schnappit</string>
	<key>CFBundleName</key>
	<string>Schnappit</string>
	<key>CFBundleDisplayName</key>
	<string>Schnappit</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Schnappit needs screen recording permission to capture screenshots.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Schnappit needs accessibility permission for global hotkeys.</string>
</dict>
</plist>
